body{
   background-color: whitesmoke;
    }
.part1{
    width: 100%;
    height: 30vh;
    background-color: #213448;
    background-position: center;
    margin-left: 0;
    margin-right: 0;
    position: relative;
    
}
@media (min-width: 1024px){
    .part1{
        display: flex;
        flex-direction: row;
        justify-content: c;
        height: 35vh;
        flex-wrap: wrap;
    }
    .text{
        padding:8px;
    }
    .btn{
        position: absolute;
        bottom: 0.5rem;
        left: 12rem;
    }
}
.second-container{
    width: 100%;
    height: 20vh;
    background-color: #f0f8ff;
    background-position: center;
    margin-left: 0;
    margin-right: 0;
    position: relative;
    overflow: hidden;
}
.thirdcontainer{
    width: 100%;
    height: 28vh;
    background-color: #E6E6E6;
    background-position: center;
    margin-left: 0;
    margin-right: 0;
    position: relative;
    overflow: hidden;
}
h4{
    font-family: 'Times New Roman', Times, serif;
    margin-left: 25px;
}
h5{
    font-size: 0.7rem;
}
.abtcircle{
    margin-left: 15px;
    margin-right: 1rem;
    height: 5rem;
    width: 5rem;
    border-radius: 50%;
    background-color: rgba(216, 191, 216, 0.429);
    float: left;
    overflow: hidden;
}
.abtig{
    height: 5rem;
}
.gridfirst{
    display: grid;
    grid-template-columns: 1rem 1rem 1rem;
    grid-template-rows: 1rem;
    gap: 1rem;
    margin-left: 15px;
}
.gf1{
    background-color: turquoise;
}
.gf2{
    background-color: #32496190;
}
.gf3{
    background-color: #32496190;
}
.text{
    padding-top: 3rem;
}
.t1{
    font-family: 'Times New Roman', Times, serif;
    font-size: 0.7rem;
    padding-top: 50px;
    margin-left: 15px;
    color: white;
}
.t2{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.8rem;
    font-weight: 600;
    margin-left: 15px;
    color: white;
    letter-spacing: 2px;
}
.t3{
    font-size: 0.7rem;
    margin-left: 15px;
    color: turquoise;
}
.t4{
    font-size: 0.7rem;
    margin-left: 15px;
    padding-top: 8px;
    color: white;
}
.btn{
    background-color: #32496190;
    border: thin white;
    color:whitesmoke;
    font-size: 0.6rem;
    margin-left: 15px;
    margin-top: 15px;
    border-radius: 0.5rem;
    width: 5rem;
    height: 1.5rem;
    cursor: pointer;
}
.circle{
    height: 20rem;
    width: 12rem;

    border-radius: 20% 40% 30% 40%;
    position: absolute;
    right: 0.3rem;
    background: transparent;
    backdrop-filter: blur(5px);
    top: 0.08rem;
}
.cartoon{
    height: 90%;
    width: 100%;
    margin-top: 1rem;
}
.grid{
    margin-top: 1%;
    display: grid;
    grid-template-columns: 8rem 8rem 8rem;
    grid-template-rows: 10rem;
    gap: 0.6rem;
    justify-content: center;
}
.box1{
    border-radius: 1rem;
    background-color: rgba(240, 248, 255, 0.685);
    padding-top: 2rem;
    overflow: hidden;
    position: relative;
    cursor: pointer;
}
.box1:hover{
    transform: scale(1.09);
    transition: all 0.3s ease-in-out;
}
.box2{
    border-radius: 1rem;
    background-color: rgba(240, 248, 255, 0.728);
    padding-top: 2rem;
    overflow: hidden;
    position: relative;
}
.box2:hover{
    transform: scale(1.1);
    transition: all 0.3s ease-in-out;
}
.box3{
    border-radius: 1rem;
    background-color: rgba(240, 248, 255, 0.685);
    padding-top: 2rem;
    overflow: hidden;
    position: relative;
}
.box3:hover{
    transform: scale(1.1);
    transition: all 0.3s ease-in-out;
}
.box1bro{
    height: 100%;
    width: 9rem;
    background-color: #D9CFC7;
    position: absolute;
    top: 0%;
}
.ig2{
    height: 100%;
    overflow: hidden;
}
.box2bro{
    height: 100%;
    width: 9rem;
    background-color: #8fabd4a3;
    position: absolute;
    top: 0%;
}
.ig3{
    height: 100%;
    overflow: hidden;
}
.box3bro{
    height: 100%;
    width: 9rem;
    background-color: #d96f32b7;
    position: absolute;
    top: 0%;
}
.ig4{
    height: 100%;
    overflow: hidden;
    position: absolute;
    right: 0.4rem;
}
h3{
    font-family: 'Times New Roman', Times, serif;
    margin-left: 25px;
}
button{
    cursor: pointer;
    position: absolute;
    left: 0.6rem;
    background-color: #32496190;
    border: thin white;
    color:whitesmoke;
    font-size: 0.6rem;
    margin-left: 15px;
    margin-top: 2rem;
    border-radius: 0.5rem;
    width: 5rem;
    height: 1.5rem;
    cursor: pointer;
}
.forthcontainer{
    width: 100%;
    height: 25vh;
    background-color: #f0f8ff;
    background-position: center;
    margin-left: 0;
    margin-right: 0;
    position: relative;
    overflow: hidden;
}
.grid3{
    margin-top: 5%;
    margin-left: 1rem;
    display: grid;
    grid-template-columns: 5rem 5rem 5rem;
    gap: 2rem;
}
.bo3{
    justify-content: flex-start;
    color: black;
    background-color: white;
    border: 1px solid black ;
    border-radius: 0.4rem;
    position: relative;
}
.git1{
    height: 2rem;
}
.one{
    font-size: small;
    position: absolute;
    top: 0.5rem;
}
.bo4{
    justify-content: flex-start;
    color: black;
    background-color: white;
    border: 1px solid black ;
    border-radius: 0.4rem;
    position: relative;
    width: 5rem;
}
.git2{
    height: 1.8rem;
}
.two{
    font-size: small;
    position: absolute;
    top: 0.5rem;
}
.bo5{
    justify-content: flex-start;
    color: black;
    background-color: white;
    border: 1px solid black ;
    border-radius: 0.4rem;
    position: relative;
    width: 5rem;
}
.git3{
    height: 1.5rem;
     position: absolute;
    top: 0.5rem;
}
.three{
    font-size: small;
    position: absolute;
    top: 0.6rem;
    left: 1.6rem;
}
.bo6{
    justify-content: flex-start;
    color: black;
    background-color: white;
    border: 1px solid black ;
    border-radius: 0.4rem;
    position: relative;
    width: 5rem;
}
.git4{
    height: 1.5rem;
}
.for{
    font-size: small;
    position: absolute;
    top: 0.4rem;
}
.bo7{
    justify-content: flex-start;
    color: black;
    background-color: white;
    border: 1px solid black ;
    border-radius: 0.4rem;
    position: relative;
    width: 5rem;
}
.git5{
    height: 1.5rem;
}
.fie{
    font-size: small;
    position: absolute;
    top: 0.4rem;
}
.bo8{
    justify-content: flex-start;
    color: black;
    background-color: white;
    border: 1px solid black ;
    border-radius: 0.4rem;
    position: relative;
    width: 5rem;
}
.git6{
    height: 1.5rem;
}
.six{
    font-size: small;
    position: absolute;
    top: 0.4rem;
}

